<div class="row">
  <div class="col-md-6 mx-auto">
    <h2 class="row">{{ mssg }}</h2>
    <div class="row">
      <mat-form-field *ngIf="!isEditing">
        <mat-label>Registration code</mat-label>
        <input matInput required [(ngModel)]="salesPerson.registration_no" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="salesPerson.salesperson_name" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Choose Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerStart"
          [(ngModel)]="selectedStartDate"
          [min]="today"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerStart"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Choose End Date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerEnd"
          [(ngModel)]="selectedEndDate"
          [min]="selectedStartDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Agent license code</mat-label>
        <input
          matInput
          required
          [(ngModel)]="salesPerson.estate_agent_license_no"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>Agent name</mat-label>
        <input matInput required [(ngModel)]="salesPerson.estate_agent_name" />
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-around">
      <button
        mat-raised-button
        color="primary"
        (click)="acept()"
        style="width: 200px; height: 50px; font-size: 2em;"
      >
        Save
      </button>

      <button  mat-raised-button color="warn" routerLink="" style="width: 200px; height: 50px; font-size: 2em;">
        Cancel
      </button>
    </div>
  </div>
</div>
