<div class="d-flex align-items-center justify-content-center">
    <div style="width: 500px;">
        <input
          type="text"
          placeholder="Search by"
          class="form-control"
          style="height: 50px; width: 100%;"
          (keyup)="emitValue(searchInput.value)"
          #searchInput
        />
    </div>
    <div>
        <mat-form-field style="margin-bottom: -1.25em;">
            <mat-select placeholder="Search by" [(ngModel)]="selectedOption">
              <mat-option *ngFor="let o of options" [value]="o.value">
                {{ o.showValue }}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
